/Black_Grass/Temp
/Black_Grass/Library
/Black_Grass/Logs
*.log
/Black_Grass/UserSettings
Black_Grass/ProjectSettings/EditorBuildSettings.asset
Black_Grass/.vs/Black_Grass/FileContentIndex/04787845-c9ef-475e-a131-3bd259b8528e.vsidx
/Black_Grass/.vs/Black_Grass/FileContentIndex
